# HTTP Server Configuration
PORT=3900

# Cron Configuration
CRON_SCHEDULE="*/5 * * * *"

# MySQL Source Database Configuration
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=your_mysql_db

# PostgreSQL Target Database Configuration
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=your_pg_user
PG_PASSWORD=your_pg_password
PG_DATABASE=your_pg_db
